<form class="" action="/login" method="post">
  <div class="">
    <label for="">Username:</label>
    <input type="text" name="username" value="" placeholder="Enter Your Username">
  </div>
  <div class="">
    <label for="">Password:</label>
    <input type="password" name="password" value="" placeholder="Enter Password">
  </div>
  <button type="submit" name="button">Login</button>
  <br>
  You Already Have An Account?<a href="/register">Register</a>
</form>
