<form class="" action="/register" method="post">
  <div class="">
    <label for="">First Name</label>
    <input type="text" name="name" value="" placeholder="Enter Your First Name">
  </div>
  <div class="">
    <label for="">Last Name</label>
    <input type="text" name="name2" value="" placeholder="Enter Your Last Name">
  </div>
  <div class="">
    <label for="">Email</label>
    <input type="email" name="email" value="" placeholder="Email">
  </div>
  <div class="">
    <label for="">Password</label>
    <input type="text" name="password" value="" placeholder="Enter Password">
  </div>
  <div class="">
    <label for="">Confirm Password</label>
    <input type="text" name="password2" placeholder="Confirm Password">
  </div>
  <button type="submit" name="button">Register</button>
  <br>
  Have An Account?<a href="#">Login Now</a>
</form>
